<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="container mt-5">
      <h1 class="text-primary">Kellogg Times</h1>
      <div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Weather</h2>
    
        The current temperature in <%= @city %> is <%= @current_temperature %>. 
        Summary: <%= @current_conditions %>
  
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Temperature</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Tomorrow</th>
      <td> <%= @forecast_temperature[1] %></td>
      <td> <%= @forecast_summary[1] %></td>
    </tr>
        <tr>
      <th scope="row">Today+2</th>
      <td> <%= @forecast_temperature[2] %></td>
      <td> <%= @forecast_summary[2] %></td>
    </tr>
  </tbody>
          <tr>
      <th scope="row">Today+3</th>
      <td> <%= @forecast_temperature[3] %></td>
      <td> <%= @forecast_summary[3] %></td>
    </tr>
            <tr>
      <th scope="row">Today+4</th>
      <td> <%= @forecast_temperature[4] %></td>
      <td> <%= @forecast_summary[4] %></td>
    </tr>
            <tr>
      <th scope="row">Today+5</th>
      <td> <%= @forecast_temperature[5] %></td>
      <td> <%= @forecast_summary[5] %></td>
    </tr>
            <tr>
      <th scope="row">Today+6</th>
      <td> <%= @forecast_temperature[6] %></td>
      <td> <%= @forecast_summary[6] %></td>
    </tr>
                <tr>
      <th scope="row">Today+7</th>
      <td> <%= @forecast_temperature[7] %></td>
      <td> <%= @forecast_summary[7] %></td>
    </tr>
  </tbody>

</table>
</div>
    <div class="col-sm">
          <h2>News</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><a href="<%= @url[1] %>"><%= @headline[1] %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @description[1] %></td>
    </tr>
  </tbody>
    <thead>
    <tr>
      <th scope="col"><a href="<%= @url[2] %>"><%= @headline[2] %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @description[2] %></td>
    </tr>
  </tbody>
    <thead>
    <tr>
      <th scope="col"><a href="<%= @url[3] %>"><%= @headline[3] %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @description[3] %></td>
    </tr>
  </tbody>
</table>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>